@model ProductVM

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@if (Model.Products.Count == 0)
{
    <div>
        Henuz hicbir urun eklenmemiş.. Urun eklenmek icin <a asp-action="AddProduct" asp-controller="Product"> Tıklayınız </a>
    </div>

}
else
{
    <div class="card card-header">
        <div class="card card-body">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Urun Ismi</th>
                        <th>Urun Fiyatı</th>
                        <th>Stok</th>
                        <th>Kategorisi</th>
                        <th>Durum</th>
                        
                        <th colspan="2">  Islemler</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (Product item in Model.Products)
                    {
                        <tr>
                            <th>@item.Name</th>
                            <th>@item.Price</th>
                            <th>@item.Stock</th>
                            @if (item.Category == null)
                            {
                                <td>Kategorisi Belirtilmemiş</td>
                            }
                            else
                            {
                                <td>@item.Category.CategoryName</td>
                            }

                            <th>@item.Status</th>
                            <th><a asp-action="UpdateProduct" asp-controller="Product" asp-route-id="@item.ID" class="btn btn-warning"> Guncelle </a></th>
                            <th><a asp-action="DeleteProduct" asp-controller="Product" asp-route-id="@item.ID" class="btn btn-danger"> Sil </a></th>
                        </tr>
                    }

                </tbody>
            </table>
        </div>
    </div>
}
