@model CustomerVM

@{
    ViewData["Title"] = "AddCustomer";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



@using (Html.BeginForm("AddCustomer", "Customer", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div class="row">
        <div class="col-sm-12">
            <section class="panel">
                <header class="panel-heading">
                    Customer Ekleme Sayfası
                </header>

                <div class="panel-body">

                    <div class="form-group">
                        <label class="col-sm-2"> Customer Name</label>
                        <div class="col-sm-10">
                            @Html.TextBoxFor(x => x.Customer.Name, new { @class = "form-control genislik" })
                            @Html.ValidationMessageFor(x=> x.Customer.Name)
                        </div>
                    </div>

                    <br /> <br />
                    <div class="form-group">
                        <label class="col-sm-2"> Sehir</label>
                        <div class="col-sm-10">
                            @Html.TextBoxFor(x => x.Customer.Ctiy, new { @class = "form-control genislik" })
                            @Html.ValidationMessageFor(x=> x.Customer.Ctiy)
                        </div>
                    </div>

                    <br /> <br />

                    <div class="form-group">
                        <label class="col-sm-2">Meslek</label>
                        <div class="col-sm-10">
                            @Html.DropDownListFor(x => x.Customer.JobID, new SelectList(Model.Jobs, "ID", "Name"), "Lutfen seciniz", new { @class = "form-control genislik" })
                        </div>
                    </div>
                    <br /> <br />

                    <div class="form-group">
                        <label class="col-sm-2">İşlem : </label>
                        <div class="col-sm-10">
                            <button class="btn btn-primary">Ekle</button>
                        </div>
                    </div>



                </div>


            </section>
        </div>
    </div>
}
